# ── MongoDB ──────────────────────────────────────────────────────────
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=<appName>
MONGO_DB=artskiliwallet

# ── JWT ──────────────────────────────────────────────────────────────
JWT_SECRET=
JWT_REFRESH_SECRET=

# ── CLOUDINARY ──────────────────────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ── Server ───────────────────────────────────────────────────────────
PORT=8080
